html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
samp,
small,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
}

strong {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    /*    vertical-align:bottom;*/
    vertical-align: top;
    background: transparent;
}

/*行の高さをフォントサイズと同じにしています*/
body {
    line-height: 1;
}

/*新規追加要素のデフォルトはすべてインライン要素になっているので、section要素などをブロック要素へ変更しています*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/*ol ulのマーカー（行頭記号）を表示しないようにしています*/
ol,
ul {
    list-style: none;
}

/*引用符の表示が出ないようにしています*/
blockquote,
q {
    quotes: none;
}

/*blockquote要素、q要素の前後にコンテンツを追加しないように指定しています*/
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/*a要素のフォントサイズなどをリセットしフォントの縦方向の揃え位置を親要素のベースラインに揃えるようにしています*/
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* ins要素のデフォルトをセットし、色を変える場合はここで変更できるようにしています */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* mark要素のデフォルトをセットし、色やフォントスタイルを変える場合はここで変更できるようにしています
また、mark要素とは、文書内の検索結果で該当するフレーズをハイライトして、目立たせる際に使用するようです。*/
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

/*テキストに打ち消し線が付くようにしています*/
del {
    text-decoration: line-through;
}

/*IEではデフォルトで点線を下線表示する設定ではないので、下線がつくようにしています
また、マウスオーバー時にヘルプカーソルの表示が出るようにしています*/
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

/*隣接するセルのボーダーを重ねて表示し、間隔を0に指定しています*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*水平罫線のデフォルトである立体的な罫線を見えなくしています*/
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

/*縦方向の揃え位置を中央揃えに指定しています*/
input,
select {
    vertical-align: middle;
}

/*img {
  　　　vertical-align: top;
  　　　font-size: 0;
  　　　line-height: 0;
}

*/
/*------base-------------------------------------*/
body {
    font-size: 13px;
    /*

 *font-size: small;
 *font: x-small;

*/

    /*
  font-family: YuGothic, '游ゴシック','PFDinTextStd-Medium', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
*/
    font-family: "ヒラギノ角ゴ Pro W4", "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, メイリオ, Meiryo, sans-serif;

    -webkit-text-size-adjust: 100%;
    /* フォントサイズ自動調整 */
}

table {
    font-size: inherit;
    font: 100%;
}

/*------clearfix-------------------------------------*/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-table;
    min-height: 1%;
}

/* Hides from IE-mac */
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* End hide from IE-mac */



/*--------リンク-----------------------------------*/

a {
    color: #222222;
    text-decoration: none;
}

a:hover {
    color: #222222;
    text-decoration: none;
}

/*--------form-----------------------------------*/

input,
select,
textarea {
    outline: none;
}

.tab_nav {
    display: flex;
    justify-content: space-around;
    margin: 3rem auto;
    max-width: 960px;
    width: 96%;
}

.tab_nav li {
    width: 30%;
    margin: 0 1.5%;
    background: #F0F0F0;
    position: relative;
    text-align: center;
    border-radius: 5px;
    padding: .7em .5rem;
}

.tab_nav li:hover {
    opacity: .8;
}

.tab_nav a {
    text-align: center;
    color: #333 !important;
    display: block;
    padding: 0.6rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.tab_nav a:link {
    color: #333;
    text-decoration: none;
}

.tab_nav span {
    color: #F181BF;
}

.tab_nav img {
    position: absolute;
    top: 5px;
    left: 10px;
}

@media screen and (max-width: 640px) {
    .tab_nav {
        display: block;
        margin: 2rem 0 0;
    }

    .tab_nav li {
        width: 96%;
        margin-bottom: 2%;
    }

    .tab_nav a {
        padding: 1rem;
    }
}

.bg_glay {
    background: #F7F5F1;
}

.txt_center {
    text-align: center;
}

.hidden {
    display: none;
}