@charset "utf-8";

.q-anno-area {
    text-indent: -1rem;
    padding-left: -1rem;
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    font-size: .9em;
}

/* 斜体 */
.transform-italic {
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
    transform: skewX(-15deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.26794919243112214, M21=0, M22=1, SizingMethod='auto expand')";
}

.cp-obi-area {
    display: none;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

.voicefree-cp .cp-obi-area {
    display: block !important;
}

.cp-obi-area .cp-obi {
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    width: -moz-fit-content;
    background-color: #e7198c;
    color: #fff;
    font-size: 1.6rem;
    position: relative;
    padding: 0.5rem 1.5rem;
}

.cp-obi-area .cp-obi:after {
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    pointer-events: none;
    position: absolute;
    border-color: rgba(0, 153, 255, 0);
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    margin-left: -10px;
    border-top-color: #e7198c;
    top: 100%;
    left: 50%;
}

.use-cp-obi-area {
    width: 80%;
    margin: 0 0 auto;
    padding: 5px;
    display: none;
}

.use-cp .use-cp-obi-area {
    display: block;
}

.voicefree-sale {
    display: none;
}

.voicefree-cp .q-area .q-item .voicefree-sale {
    display: block;
}

.voicefree-cp .q-area .q-item .voicefree-sale.osusume-wrap {
    right: 15px;
}

.voicefree-cp .q-area .q-item .voicefree-sale .osusume {
    background-color: #D7000D;
    border-top-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
}

.line-gb-prace {
    display: none;
}

.use-gbadd-cp-line.plan-line .line-gb-prace {
    display: inline-block;
}

.use-voicefree .result-price-wrap,
.use-voicefree .result-price-wrap span,
.use-monthly-discount .result-price-wrap,
.use-monthly-discount .result-price-wrap span,
.monthly-discount .use-monthly-discount .use-monthly-discount-line.plan-line span,
.monthly-discount .use-monthly-discount .month-prace-wrap,
.monthly-discount .use-monthly-discount .month-prace-wrap span,
.monthly-discount .giga-simulator .q-area .text-area-box .right-text .normal-price,
.monthly-discount .giga-simulator .q-area .text-area-box .right-text .normal-price span,
.voicefree-cp .voice-free-line span,
.voicefree-cp .use-voicefree .month-prace-wrap,
.voicefree-cp .use-voicefree .month-prace-wrap span,
.voicefree-cp .giga-simulator .q-area .text-area-box .right-text .normal-price,
.voicefree-cp .giga-simulator .q-area .text-area-box .right-text .normal-price span .use-gbadd-cp .gb-prace-wrap,
.use-gbadd-cp span.gb-prace-wrap,
.use-gbadd-cp .gb-prace-wrap span,
.use-gbadd-cp .line-gb-prace,
.use-gbadd-cp .line-gb-prace span,
.use-gbadd-cp .line-gb-prace span.price .use-gbadd-cp .result-gb-wrap,
.use-gbadd-cp .result-gb-wrap span,
.use-voicegbadd-cp .gb-prace-wrap,
.use-voicegbadd-cp span.gb-prace-wrap,
.use-voicegbadd-cp .gb-prace-wrap span,
.use-voicegbadd-cp .line-gb-prace,
.use-voicegbadd-cp .line-gb-prace span,
.use-voicegbadd-cp .line-gb-prace span.price .use-voicegbadd-cp .result-gb-wrap,
.use-voicegbadd-cp .result-gb-wrap span {
    color: #e7198c !important;
    font-weight: bold;
}

.use-gbadd-cp .gb-prace-wrap,
.use-voicegbadd-cp .gb-prace-wrap,
.monthly-discount .use-monthly-discount .month-prace-wrap,
.voicefree-cp .use-voicefree .month-prace-wrap {
    position: relative;
}

.use-gbadd-cp .use-gbadd-cp-line.plan-line .line-gb-prace::after,
.use-voicegbadd-cp .use-gbadd-cp-line.plan-line .line-gb-prace::after,
.monthly-discount .giga-simulator .use-monthly-discount .breakdown-item .plan-line.use-monthly-discount-line .right::after,
.voicefree-cp .giga-simulator .breakdown-item .voice-free-line .right::after {
    content: "※";
    top: -7px;
    right: 0;
    position: absolute;
    font-size: 12px;
    color: #000;
    font-weight: normal;
}

.use-gbadd-cp .use-gbadd-cp-line.plan-line .line-gb-prace::after,
.use-voicegbadd-cp .use-gbadd-cp-line.plan-line .line-gb-prace::after {
    top: -8px;
    right: 5px;
}

.use-gbadd-cp .gb-prace-wrap::after,
.use-voicegbadd-cp .gb-prace-wrap::after,
.monthly-discount .use-monthly-discount .month-prace-wrap::after,
.voicefree-cp .use-voicefree .month-prace-wrap::after {
    content: "※";
    top: -22px;
    right: 0;
    position: absolute;
    font-size: 12px;
    color: #000;
    font-weight: normal;
}

.use-gbadd-cp .gb-prace-wrap::after,
.use-voicegbadd-cp .gb-prace-wrap::after {
    top: -8px;
}

span.before-gb-prace-wrap,
span.before-month-prace-wrap {
    display: none;
}

.use-gbadd-cp .diagnosis-detail,
.use-voicegbadd-cp .diagnosis-detail,
.monthly-discount .use-monthly-discount .diagnosis-detail,
.voicefree-cp .use-voicefree .diagnosis-detail {
    height: 70px;
}

.use-gbadd-cp span.before-gb-prace-wrap,
.use-voicegbadd-cp span.before-gb-prace-wrap,
.monthly-discount .use-monthly-discount span.before-month-prace-wrap,
.voicefree-cp .use-voicefree span.before-month-prace-wrap {
    display: inline;
    position: absolute;
    top: -32px;
    right: 2%;
}

.use-gbadd-cp span.before-gb-prace-wrap,
.use-voicegbadd-cp span.before-gb-prace-wrap {
    top: -25px;
}

.use-gbadd-cp span.before-gb-prace-wrap,
.use-gbadd-cp span.before-gb-prace-wrap span,
.use-voicegbadd-cp span.before-gb-prace-wrap,
.use-voicegbadd-cp span.before-gb-prace-wrap span,
.monthly-discount .use-monthly-discount span.before-month-prace-wrap span,
.voicefree-cp .use-voicefree span.before-month-prace-wrap span {
    text-decoration: line-through;
}

.use-gbadd-cp span.before-gb-prace-wrap,
.use-gbadd-cp span.before-gb-prace-wrap span,
.use-voicegbadd-cp span.before-gb-prace-wrap,
.use-voicegbadd-cp span.before-gb-prace-wrap span,
.monthly-discount .use-monthly-discount .before-month-prace-wrap span,
.voicefree-cp .use-voicefree .before-month-prace-wrap span {
    color: #9b9b9b !important;
    font-size: 1.8rem !important;
    font-weight: normal !important;
}

.use-gbadd-cp .line-gb-prace,
.use-voicegbadd-cp .line-gb-prace {
    padding-right: 5px;
    position: relative;
}

.use-gbadd-cp span.before-gb-prace-wrap span.small,
.use-voicegbadd-cp span.before-gb-prace-wrap span.small,
.monthly-discount .use-monthly-discount .before-month-prace-wrap span.small,
.voicefree-cp .use-voicefree .before-month-prace-wrap span.small {
    font-size: 1.2rem !important;
    margin-left: 0;
}

.result-anno {
    background-color: #B97500;
    color: #FFF;
    font-size: 1.2rem;
}

.use-cp .result-anno {
    padding-top: 5px;
}

.result-anno .gbadd-anno,
.result-anno .monthly-discount-anno,
.result-anno .voicefree-anno,
.result-anno .voicegbadd-anno {
    display: none;
}

.use-gbadd-cp .gbadd-anno,
.use-cp.use-voicefree .result-anno .monthly-discount,
.use-cp.use-voicefree .result-anno .voicefree-anno,
.use-voicegbadd-cp .voicegbadd-anno {
    display: block;
}

.use-gbadd-cp .result-gb-wrap .gb-text,
.use-voicegbadd-cp .result-gb-wrap .gb-text,
.use-cp.use-monthly-discount .result-price-wrap .yen,
.use-cp.use-voicefree .result-price-wrap .yen {
    position: relative;
}

.use-gbadd-cp .result-gb-wrap .gb-text::after,
.use-voicegbadd-cp .result-gb-wrap .gb-text::after,
.use-cp.use-monthly-discount .result-price-wrap .yen::after,
.use-cp.use-voicefree .result-price-wrap .yen::after {
    content: "※";
    top: -12px;
    right: 0;
    position: absolute;
    font-size: 13px;
    color: #000;
    font-weight: normal;
}

.cp-link-list {
    display: none;
}

.use-cp .cp-link-list {
    display: block;
    padding: 1rem 2rem;
    background-color: #FBEDF5;
    margin: 0 1rem 1rem 1rem;
}

.use-cp .cp-link-list .links {
    padding-top: 1rem;
}

.cp-link-list .link-item {
    display: none;
}

.cp-link-list .cp-link-list-title {
    font-size: 1.4rem;
}

.use-cp.use-gbadd-cp .cp-link-list .link-item.gbadd-cp-link,
.use-cp.use-monthly-discount .cp-link-list .link-item.monthly-discount-link,
.use-cp.use-voicefree .cp-link-list .link-item.voicefree-cp-link,
.use-cp.use-voicegbadd-cp .cp-link-list .link-item.voicegbadd-cp-link {
    display: block;
}

.diagnosis-anno {
    padding-top: 5px;
    font-size: .9rem;
}

.diagnosis-anno .gbadd-anno,
.diagnosis-anno .monthly-discount-anno,
.diagnosis-anno .voicefree-anno,
.diagnosis-anno .voicegbadd-anno {
    display: none;
    text-align: right;
}

.use-gbadd-cp .diagnosis-anno .gbadd-anno,
.monthly-discount .use-monthly-discount .monthly-discount-anno,
.voicefree-cp .use-voicefree .voicefree-anno,
.use-voicegbadd-cp .diagnosis-anno .voicegbadd-anno {
    display: block;
}

span.line-before-price {
    display: none;
}

.monthly-discount .use-monthly-discount-line.plan-line span.line-before-price,
.monthly-discount .use-monthly-discount-line.plan-line span.line-before-price span,
.voicefree-cp .use-voicefree .voice-free-line span.line-before-price,
.voicefree-cp .use-voicefree .voice-free-line span.line-before-price span {
    color: #9b9b9b !important;
    font-weight: normal !important;
    text-decoration: line-through;
}

#diagnosis_items .use-monthly-discount-line.plan-line span.line-before-price,
#diagnosis_items .use-voicefree .voice-free-line span.line-before-price {
    padding-right: 10px;
    display: inline;
    position: relative;
}

.monthly-discount .use-monthly-discount-line.plan-line span.line-before-price::after,
.voicefree-cp .use-voicefree .voice-free-line span.line-before-price::after {
    position: absolute;
    content: "";
    top: 15%;
    right: 2px;
    width: 0;
    height: 0;
    border-left: 5px solid black;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.use-cp-obi-area .use-cp-obi {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    background-color: #e7198c;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 5px;
    padding: 2px 0;
}

#giga_simulator {
    padding: 4rem 0;
    background-image: url("/gigaplan/img/gigaSimulator2/border-brown-bg.png");
}

.giga-simulator .delete-btn {
    background-color: #979797;
    color: #FFF;
    padding: 0.5rem 2rem;
    border-radius: 2px;
    margin-left: 2rem;
    cursor: pointer;
    font-size: 1.4rem;
}

.giga-simulator .delete-btn:hover {
    opacity: 0.7;
}

.giga-simulator .delete-btn {
    background-color: #979797;
    color: #FFF;
    padding: 0.5rem 1rem 0.5rem 2.7rem;
    border-radius: 2px;
    margin-left: 2rem;
    position: relative;
    border-radius: 30px;
}

.giga-simulator .delete-btn:before {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    border-radius: 5px;
    background: #FFF;
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.giga-simulator .delete-btn:after {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    border-radius: 5px;
    background: #FFF;
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

/*プランカラー*/
.plan-color-gigavoice {
    color: #E75399 !important
}

.plan-color-gigavoiceesim {
    color: #E75399 !important
}

.plan-color-gigasms {
    color: #58B11D !important
}

.plan-color-gigadata {
    color: #2C74C7 !important
}

.plan-color-gigaesim {
    color: #00A3AC !important
}

/*内訳*/
.giga-simulator .breakdown-btn {
    font-size: 1.6rem;
    font-weight: bold;
    background: #FFF;
    color: #B97500;
    padding: .5rem 2rem .5rem 3rem;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 30px;
    text-decoration: none;
    position: relative;
    border: solid 2px #B97500;
    margin: 0 !important;
    height: fit-content;
    height: fit-content;
    cursor: pointer;
}

.giga-simulator .breakdown-btn.disabled {
    opacity: 0.3;
    pointer-events: none;
    margin: 0 auto;
}

.giga-simulator .breakdown-btn::before {
    position: absolute;
    position: absolute;
    content: "";
    top: 10px;
    left: 11px;
    border-bottom: solid 2px #B97500;
    border-left: solid 2px #B97500;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    transition: 0.2s;
}

.breakdown-btn.is-open::before {
    transition: 0.2s;
    transform: rotate(135deg);
}

.breakdown-btn:hover {
    text-decoration: none;
    opacity: 0.7;
}

/*戻る*/
.q-back-btn {
    font-size: 1.6rem;
    font-weight: bold;
    background: #FFF;
    color: #B97500;
    padding: 1rem 4rem 1rem 5rem;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 30px;
    text-decoration: none;
    position: relative;
    border: solid 2px #B97500;
}

.q-back-btn.disabled {
    opacity: 0.3;
    pointer-events: none;
    margin: 0 auto;
}

.q-back-btn::before {
    position: absolute;
    content: "";
    top: 40%;
    left: 7%;
    border-bottom: solid 2px #B97500;
    border-left: solid 2px #B97500;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}

.q-back-btn:hover {
    text-decoration: none;
    opacity: 0.7;
}

/*プラン追加ボタン*/
.add-line-btn {
    font-size: 1.6rem;
    font-weight: bold;
    background: #FFF;
    color: #B97500;
    padding: 1rem 4rem 1rem 5rem;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 30px;
    text-decoration: none;
    position: relative;
    border: solid 2px #B97500;
}

.add-line-btn.disabled {
    opacity: 0.3;
    pointer-events: none;
    margin: 0 auto;
}

.add-line-btn:hover {
    text-decoration: none;
    opacity: 0.7;
}

.add-line-btn:before {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    border-radius: 5px;
    background: #B97500;
    position: absolute;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
}

.add-line-btn:after {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    border-radius: 5px;
    background: #B97500;
    position: absolute;
    left: 7%;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

.no-add-text {
    border: solid 2px #B97500;
    background: #FFF;
    padding: 1rem;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 5px;
    margin: 0 auto;
}

.giga-simulator img {
    width: auto;
}

.giga-simulator div[class$="-btn"] {
    cursor: pointer;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
}

.giga-simulator div:hover[class$="-btn"] {
    opacity: 0.7;
}

.giga-simulator .content {
    width: 865px;
    margin: 0 auto;
}

.giga-simulator .title-area .img-box {
    text-align: center;
}

.giga-simulator .title-area img {
    width: 540px;
}

.giga-simulator .title-area .title-text {
    margin: 2rem 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: 0.1rem;
}

.giga-simulator .q-area {
    margin-top: 2rem;
    padding-top: 2rem;
    background-color: #FFF;
}

.giga-simulator .q-box {
    background-color: #FFF;
}

.giga-simulator .q-area .q-title .q-icon {
    background-color: #E55397;
    color: #fff;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 0.3rem 1rem;
}

.giga-simulator .q-area .q-title {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.giga-simulator .q-area .q-title .q-title-text {
    margin-left: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1;
}

.giga-simulator .q-area .q-items {
    padding: 1rem;
}

.giga-simulator .q-area .q-item {
    padding: 1.6rem 1rem;
    background-color: #F4F4F4;
    border-left: 3px solid transparent;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #CACACA;
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.giga-simulator .q-area .q-item.checked {
    border: 2px solid #E55397;
    background-color: #FFE7EF;
}

.giga-simulator .q-area .q-item .osusume-wrap {
    position: absolute;
    top: -2px;
    right: -2px;
}

.giga-simulator .q-area .q-item .osusume {
    height: 20px;
    width: fit-content;
    padding: 0 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    content: "";
    font-weight: bold;
    position: relative;
    color: #FFF;
    background-color: #E55397;
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
}

.giga-simulator .q-area .q-item .osusume .tri {
    position: absolute;
    left: -14px;
    top: 0;
    border-right: 15px solid #E55397;
    border-bottom: 20px solid transparent;
}

.giga-simulator .q-area .q-item .q-item-icon {
    width: 50px;
    min-width: 50px;
    height: 50px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.tell-yes {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_tel_yes.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.tell-yes,
.giga-simulator .q-area .q-item .q-item-icon.tell-yes {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_tel_yes_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.tell-no {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_tel_no.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.tell-no,
.giga-simulator .q-area .q-item .q-item-icon.tell-no {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_tel_no_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.voiceesim-yes {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_voiceesim_yes.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.voiceesim-yes,
.giga-simulator .q-area .q-item .q-item-icon.voiceesim-yes {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_voiceesim_yes_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.voiceesim-no {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_voiceesim_no.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.voiceesim-no,
.giga-simulator .q-area .q-item .q-item-icon.voiceesim-no {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_voiceesim_no_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.min5 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_5min.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.min5,
.giga-simulator .q-area .q-item .q-item-icon.min5 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_5min_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.min10 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_10min.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.min10,
.giga-simulator .q-area .q-item .q-item-icon.min10 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_10min_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.kakehodai {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_kakehodai.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.kakehodai,
.giga-simulator .q-area .q-item .q-item-icon.kakehodai {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_kakehodai_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.teigaku-no {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_teigaku_no.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.teigaku-no,
.giga-simulator .q-area .q-item .q-item-icon.teigaku-no {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_teigaku_no_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.sms-no {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_sms_no.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.sms-no,
.giga-simulator .q-area .q-item .q-item-icon.sms-no {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_sms_no_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.sms-yes {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_sms_yes.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.sms-yes,
.giga-simulator .q-area .q-item .q-item-icon.sms-yes {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_sms_yes_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.esim-yes {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_esim_yes.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.esim-yes,
.giga-simulator .q-area .q-item .q-item-icon.esim-yes {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_esim_yes_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.esim-no {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_esim_no.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.esim-no,
.giga-simulator .q-area .q-item .q-item-icon.esim-no {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_esim_no_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.giga2 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_2giga.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.giga2,
.giga-simulator .q-area .q-item .q-item-icon.giga2 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_2giga_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.giga4 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_4giga.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.giga4,
.giga-simulator .q-area .q-item .q-item-icon.giga4 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_4giga_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.giga5 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_5giga.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.giga5,
.giga-simulator .q-area .q-item .q-item-icon.giga5 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_5giga_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.giga8 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_8giga.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.giga8,
.giga-simulator .q-area .q-item .q-item-icon.giga8 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_8giga_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.giga10 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_10giga.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.giga10,
.giga-simulator .q-area .q-item .q-item-icon.giga10 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_10giga_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.giga15 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_15giga.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.giga15,
.giga-simulator .q-area .q-item .q-item-icon.giga15 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_15giga_on.png");
}

.giga-simulator .q-area .q-items.checked .q-item .q-item-icon.giga20 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_20giga.png");
}

.giga-simulator .q-area .q-items.checked .q-item.checked .q-item-icon.giga20,
.giga-simulator .q-area .q-item .q-item-icon.giga20 {
    background-image: url("/gigaplan/img/gigaSimulator2/icon_20giga_on.png");
}

.giga-simulator .q-area .text-area-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.giga-simulator .q-area .q-item-text .sub-text,
.giga-simulator .q-area .text-area-box .sub-text {
    font-size: 1.3rem;
}

.giga-simulator .q-area .text-area-box .small-text {
    font-size: 1.2rem;
}

.giga-simulator .q-area .text-area-box .right-text {
    align-self: start;
    text-align: right;
}

.giga-simulator .q-area .text-area-box .right-text .before-price {
    display: none;
}

.voicefree-cp .giga-simulator .q-area .text-area-box .right-text .before-price {
    display: block;
}

.voicefree-cp .giga-simulator .q-area .text-area-box .right-text .before-price,
.voicefree-cp .giga-simulator .q-area .text-area-box .right-text .before-price span {
    text-decoration: line-through;
    font-size: 1.2rem;
}

.voicefree-cp .giga-simulator .q-area .text-area-box .right-text .before-price span.small-text {
    font-size: 1rem;
}

.giga-simulator .q-area .q-item.checked .main-text {
    font-weight: bold;
    color: #E55397;
}

.giga-simulator .q-area .q-item+.q-item {
    margin-top: 1rem;
}

.giga-simulator .q-area .q-item .q-item-text {
    font-size: 1.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
}

.giga-simulator .q-area .q-item .q-item-text .text-area {
    padding-left: 1rem;
    flex-grow: 1;
}

.giga-simulator .q-area .q-index-voiceesim .q-item .q-item-text .text-area,
.giga-simulator .q-area .q-index-0 .q-item .q-item-text .text-area {
    flex-grow: initial;
}

.giga-simulator .q-area .q-item .q-item-text .text-right-1 {
    margin-left: 27px;
}

.giga-simulator .q-area .q-item .q-item-text .text-right-2 {
    margin-left: 34px;
}

.giga-simulator .q-area .q-item .q-item-text .text-right-3 {
    margin-left: 0;
}

.giga-simulator .q-area .q-sup-btns {
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.giga-simulator .q-area .q-sup-btns img {
    display: initial;
    width: 205px;
}

.giga-simulator .q-area .q-move-btn-area {
    padding-bottom: 4rem;
    padding-top: 2rem;
    text-align: center;
}

.giga-simulator .q-area .q-move-btn-area img {
    width: 150px;
}

.giga-simulator .diagnosis-area {
    background-color: #F6F3EE;
    border-right: 1px solid #BA8325;
    border-left: 1px solid #BA8325;
    border-bottom: 1px solid #BA8325;
}

.giga-simulator .diagnosis-area .multiple-lines-text {
    font-size: 2rem;
    width: 98%;
    margin: 2rem auto;
    font-weight: bold;
}

.giga-simulator .diagnosis-area .multiple-lines-text span.small {
    font-size: 1.4rem;
    font-weight: bold;
}

.giga-simulator .result-area .diagnosis-head {
    text-align: center;
    padding: 1rem 0;
}

.giga-simulator .result-area .diagnosis-head img {
    width: 170px;
}

.giga-simulator .diagnosis-area .diagnosis-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 0;
}

.giga-simulator .diagnosis-area .diagnosis-title .title-text {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.giga-simulator .diagnosis-area .diagnosis-title .delete-btn {
    margin: 0 2rem 0 9%;
}

.giga-simulator .diagnosis-area .diagnosis-title img {
    width: 400px;
}

.giga-simulator .diagnosis-area .diagnosis-item {
    border: 1px solid #CDC8C5;
    width: 94%;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 5px;
}

.result-breakdown .tax-in-label {
    display: none;
}

.giga-simulator .diagnosis-area .diagnosis-item-wrap+.diagnosis-item-wrap {
    margin-top: 2rem;
}

.giga-simulator .diagnosis-area .diagnosis-item-top {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;
}

.giga-simulator .diagnosis-area .diagnosis-item-left {
    padding-right: 2rem;
    width: 64%;
}

.giga-simulator .diagnosis-area .diagnosis-detail {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

.giga-simulator .diagnosis-area .diagnosis-detail:after {
    content: "";
    width: 98%;
    bottom: 0;
    left: 1%;
    position: absolute;
    border-top: 1px solid #CDC8C5;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan {
    display: flex;
    justify-content: start;
    align-items: center;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan,
.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333333;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.option,
.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.price {
    font-size: 3.5rem;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.option.no-limit {
    font-size: 2.5rem;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.small {
    font-size: 1.7rem;
    margin-left: 0.1rem;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.voice-option,
.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.month-label {
    margin-left: 2.5rem;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.tax-label {
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.gb {
    font-size: 3.5rem;
    padding-left: 6rem;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-price {
    display: flex;
    align-items: center;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-price,
.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-price span {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333333;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-price span.tax-label {
    font-size: 1.2rem;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-price .price-label {
    padding: 0 1rem;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-price .price-label,
.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-price .price-label span {
    font-size: 1.2rem;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-price .price-label span.tax-label {
    font-size: 1.2rem;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-price span.small {
    font-size: 1.6rem;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-price span.price {
    font-size: 3rem;
    color: #333333;
    padding: 0 0.2rem;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan .plan-icon {
    padding: 1rem;
    padding-left: 3rem;
}

.giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan img.plan-icon {
    width: 35px;
}

.giga-simulator .breakdown-label {
    margin-top: 1rem;
    width: fit-content;
    width: -moz-fit-content;
    font-weight: bold;
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
}

.giga-simulator .breakdown-item {
    border-top: solid 1px #CDC8C5;
}

.giga-simulator .breakdown-item .right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.giga-simulator .breakdown-item .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 1rem;
}

.giga-simulator .breakdown-item .line .bd-name {
    font-size: 1.7rem;
    font-weight: 700;
}

.giga-simulator .breakdown-item .line span.price {
    font-size: 2.2rem;
}

.giga-simulator .breakdown-item .line+.line {
    border-top: dashed 1px #CDC8C5;
    padding: 1rem;
    padding-left: 2.5rem;
}

.giga-simulator .diagnosis-area .breakdown-items {
    border-bottom: solid 1px #CDC8C5;
}

.giga-simulator .breakdown-item .line+.line .bd-name {
    font-weight: 400;
}

.giga-simulator .diagnosis-area .diagnosis-recommended {
    display: flex;
    background-color: #FFF;
    padding-left: 2rem;
    border-left: 1px solid #CDC8C5;
    width: 36%;
}

.giga-simulator .diagnosis-area .diagnosis-recommended .recommended-text .recommended-label {
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: #B18221;
    font-weight: bold;
}

.giga-simulator .diagnosis-area .diagnosis-recommended .dot {
    color: #B88135;
}

.giga-simulator .diagnosis-area .diagnosis-recommended .recommended-text ul.recommended-list {
    margin-top: 1rem;
}

.giga-simulator .diagnosis-area .diagnosis-recommended .recommended-text ul.recommended-list li {
    margin-top: 1rem;
    text-indent: -1rem;
    font-size: 1.2rem;
}

.giga-simulator .diagnosis-area .diagnosis-recommended .recommended-img {
    width: 64%;
    margin: 1rem auto 0 auto;
    padding: 0.5rem;
    background-color: #F3F5EB;
}

.giga-simulator .diagnosis-area .diagnosis-recommended .recommended-img img {
    width: 100%;
}

.giga-simulator .diagnosis-area .recommended-guideline {
    padding: 0 2rem 2rem 2rem;
}

.giga-simulator .diagnosis-area .recommended-guideline .guideline-label {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #B88135;
    font-weight: bold;
}

.giga-simulator .diagnosis-area .recommended-guideline ul.guideline-list {
    margin-top: 0.5rem;
}

.giga-simulator .diagnosis-area .recommended-guideline ul.guideline-list li {
    display: inline-block;
}

.giga-simulator .diagnosis-area .recommended-guideline ul.guideline-list .annotation {
    font-size: 0.8rem;
    vertical-align: super;
}

.giga-simulator .diagnosis-area .recommended-guideline .annotation-text {
    margin-top: 0.7rem;
    color: #666666;
    font-size: 1rem;
    line-height: 1.4rem;
}

.giga-simulator .diagnosis-area .diagnosis-item-btns {
    text-align: center;
}

.giga-simulator .diagnosis-area .diagnosis-item-btns>div {
    margin-top: 2rem;
}

.giga-simulator .diagnosis-area .diagnosis-item-btns img {
    width: 315px;
}

.giga-simulator .diagnosis-area .diagnosis-btns {
    padding: 2rem;
    text-align: center;
}

.giga-simulator .diagnosis-area .diagnosis-btns img {
    width: 360px;
}

.giga-simulator .diagnosis-area .diagnosis-btns div+div {
    margin-top: 2rem;
}

.giga-simulator .result-area {
    background-color: #B07800;
    padding: 0;
}

.giga-simulator .result-area .result-list {
    width: 97%;
    border-top: 1px solid #FFF;
}

.giga-simulator .result-area .result-list .inner-box {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.diagnosis-item-wrap:not(:last-child) .add-line-disp {
    display: none;
}

.result-label {
    text-align: center;
    color: #FFF;
    padding-top: .8rem;
}

.result-label .label-diagnosis {
    font-size: 1.9rem;
    letter-spacing: .2rem;
}

.result-label .label-result {
    font-size: 2.4rem;
    letter-spacing: .2rem;
}

.giga-simulator .result-area .result-detail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
}

.giga-simulator .result-area .result-detail-wrap {
    width: 89%;
    background-color: #FFF;
}

.giga-simulator .result-area .result-detail>div+div {
    padding-left: 1rem;
    border-left: 1px solid #BA8325;
}

.giga-simulator .result-area .result-detail,
.giga-simulator .result-area .result-detail span {
    font-size: 1.8rem;
    font-weight: bold;
    color: #55340F;
}

.giga-simulator .result-area .result-detail span.tax-label {
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 0.5rem;
}

.giga-simulator .result-area .result-detail .detail-price-sum span.price-sum,
.giga-simulator .result-area .result-detail .detail-giga-sum span.giga-sum,
.giga-simulator .result-area .result-detail .detail-line-sum span.line-sum {
    font-size: 1.2rem;
    text-align: center;
    color: #BB8722;
    font-weight: 400;
}

.giga-simulator .result-area .result-detail .detail-price-sum {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.giga-simulator .result-area .result-detail .detail-giga-sum {
    padding: 0 1rem;
    width: 28%;
}

.giga-simulator .result-area .result-detail .detail-line-sum {
    padding: 0 1rem;
    width: 22%;
}

.giga-simulator .result-area .result-detail .w-back-label {
    background-color: #FFF;
    padding: 0.5rem;
}

.giga-simulator .result-area .result-detail .detail-price-sum span.price,
.giga-simulator .result-area .result-detail .detail-giga-sum span.gb,
.giga-simulator .result-area .result-detail .detail-line-sum span.line {
    font-size: 3.5rem;
    font-weight: 400;
    padding-right: 0.5rem;
}

.giga-simulator .result-area .result-breakdown {
    background-color: #FFF;
    margin: 2rem;
    display: flex;
    justify-content: flex-start;
    border-top: solid 1px #B07800;
    border-bottom: solid 1px #B07800;
}

.giga-simulator .result-area .result-breakdown {
    background-color: #FFF;
    display: flex;
    justify-content: flex-start;
    border-top: solid 1px #B07800;
    border-bottom: solid 1px #B07800;
}

.giga-simulator .result-area .result-breakdown .breakdown-label {
    margin: 0;
    padding: 0;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0E4CB;
    color: #B07800;
}

.giga-simulator .result-area .result-breakdown .breakdown-items {
    width: 92%;
}

.giga-simulator .result-area .result-breakdown .breakdown-items .breakdown-item {
    border-top: none;
}

.giga-simulator .result-area .result-breakdown .breakdown-items .breakdown-item+.breakdown-item {
    border-top: solid 1px #B07800;
}

.giga-simulator .result-breakdown .breakdown-item .line+.line {
    border-top: dashed 1px #CDC8C5;
}

.giga-simulator .result-area .share-label {
    font-size: 2rem;
    color: #55340F;
    font-weight: bold;
    padding: 0.5rem 0;
}

.giga-simulator .toggle-open {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AF7900;
    color: #FFF;
    font-size: 2.4rem;
    letter-spacing: 1rem;
    padding: 1rem 0;
    border-radius: 5px;
    width: 340px;
    cursor: pointer;
}

.giga-simulator .toggle-open:hover {
    opacity: 0.7;
}

.giga-simulator .toggle-open span.text {
    padding-left: 11rem;
}

.giga-simulator .toggle-open i {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #FFF;
    top: 25%;
    right: 13px;
    position: relative;
}

.giga-simulator .toggle-open i:before {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    border-radius: 5px;
    background: #FFF;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.giga-simulator .toggle-open i:after {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    border-radius: 5px;
    background: #FFF;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

.giga-simulator .toggle-open.is-open i:after {
    display: none;
}

div.plan-no {
    margin-left: 2rem;
    display: inline-block;
    font-size: 1.4rem;
    background-color: #B07800;
    color: #FFF;
    padding: 0.5rem 1rem;
    height: fit-content;
    height: -moz-fit-content;
}

.giga-simulator .result-area .breakdown-item {
    display: flex;
    justify-content: flex-start;
}

.giga-simulator .breakdown-item .price-detail {
    width: 78%;
}

.giga-simulator .breakdown-item .price-no-area {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F3EE;
}

.giga-simulator .breakdown-item .delete-btn-area {
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.giga-simulator .breakdown-item .delete-btn-area .delte-btn {
    margin: 0;
}

.giga-simulator .breakdown-item .price-no-area div.plan-no {
    margin: 0;
}

.simulator-nav {
    position: fixed;
    right: 0px;
    top: 200px;
    z-index: 999;
}

.simulator-nav img {
    width: 40px;
}

.gb-add-cp {
    margin: 0.5rem auto;
    text-align: center;
}

.gb-add-cp img {
    width: 60%;
}

.anno-area {
    font-size: 1.3rem;
    margin-top: .5rem !important;
}

.anno-area p {
    text-indent: -1rem;
    padding-left: 1rem;
    margin: 0;
}

.single-page-only {
    display: none;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 5s;
}

.slide-fade-enter,
.slide-fade-leave-to {
    opacity: 0;
    transform: translateX(100%);
}

.question-container,
.result-container {
    text-align: center;
    width: 100%;
    margin: auto;
}

.question,
.answer,
.back-button,
.result-container,
.plan-details,
.breakdown {
    margin: 20px;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.q-icon {
    width: 20px;
    background-color: #E55397;
    color: #fff;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 0.3rem 1rem;
}

.title {
    font-weight: bold;
    font-size: 2rem;
    margin-left: 5px;
}

.answers {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.answer {
    margin: 1%;
}

.answer-icon {
    padding-top: 10px;
}

.answerButton {
    border-radius: 10px;
    width: 250px;
    height: 200px;
    cursor: pointer;
}

.answer-text {
    margin: 10px 20px;
    font-size: 1.8rem;
    font-weight: bold;
}

.subText {
    font-size: 1.2rem;
}

.thirdText {
    position: relative;
    font-size: 1rem;
}

.clearLine {
    position: absolute;
    top: 0;
    left: 40%;
    font-weight: bold;
}

.fourthText {
    color: #e7198c;
    font-weight: bold;
}

.gigaText {
    font-size: 16px;
}


.back-button {
    padding-bottom: 4rem;
    padding-top: 2rem;
}

.goBack {
    width: fit-content;
    margin: auto;
    font-size: 1.6rem;
    font-weight: bold;
    background: #FFF;
    color: #B97500;
    padding: 1rem 4rem 1rem 5rem;
    border-radius: 30px;
    text-decoration: none;
    position: relative;
    border: solid 2px #B97500;
    cursor: pointer;
}

.goBack::before {
    position: absolute;
    content: "";
    top: 40%;
    left: 7%;
    border-bottom: solid 2px #B97500;
    border-left: solid 2px #B97500;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}


/* PC */
@media screen and (min-width: 641px) {
    .sp {
        display: none !important;
    }

    .plus {
        display: inline;
    }

    .giga-simulator .q-area .q-title {
        justify-content: center;
    }

    .giga-simulator .q-area .q-title .q-title-text {
        font-size: 2.4rem;
    }

    .giga-simulator .q-area .q-items {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
    }

    .giga-simulator .q-area .q-item {
        text-align: left;
        flex-grow: unset;
        height: auto;
        padding: 2rem 1.5rem;
        align-items: start;
    }

    .giga-simulator .q-area .q-item:hover {
        opacity: .7;
    }

    .giga-simulator .q-area .q-item+.q-item {
        margin-left: 1rem;
    }

    .giga-simulator .q-area .q-item .q-item-text .text-area {
        padding-left: 0;
        padding-top: 2rem;
    }

    .giga-simulator .q-area .q-item .q-item-icon {
        width: 60px;
        height: 60px;
    }

    .giga-simulator .q-area .two-item .q-item {
        width: 180px;
        text-align: center;
        box-sizing: initial;
    }

    .giga-simulator .q-area .two-item .q-item+.q-item {
        margin-left: 2rem;
    }

    .giga-simulator .q-area .q-index-1 .q-item {
        width: calc(100%/4.1);
    }

    .giga-simulator .q-area .q-index-1 .q-item .main-text.fw_b {
        font-size: 2rem;
    }

    .giga-simulator .q-area .q-index-4 .q-item {
        width: calc(100%/5.2);
    }

    .giga-simulator .q-area .q-item .q-item-icon {
        margin: 0 auto;
    }

    .giga-simulator .q-area .text-area-box {
        display: block;
    }

    .giga-simulator .q-area .q-item .q-item-text {
        display: block;
    }

    .giga-simulator .q-area .q-item+.q-item {
        margin-top: 0;
    }

    .giga-simulator .q-area .q-sup-btns {
        padding-right: 21rem;
    }

    .monthly-discount .use-monthly-discount .month-prace-wrap::after,
    .voicefree-cp .use-voicefree .month-prace-wrap::after {
        top: -3px;
        line-height: 1;
    }

    .use-gbadd-cp .diagnosis-detail,
    .use-voicegbadd-cp .diagnosis-detail,
    .monthly-discount .use-monthly-discount .diagnosis-detail,
    .voicefree-cp .use-voicefree .diagnosis-detail {
        height: 85px;
    }

    .use-cp .cp-link-list {
        margin: 1rem 0;
    }

    .giga-simulator .q-area .text-area-box .right-text {
        text-align: left;
    }

    .monthly-discount .giga-simulator .use-monthly-discount .breakdown-item .plan-line .right::after,
    .voicefree-cp .giga-simulator .breakdown-item .voice-free-line .right::after {
        top: -2px;
    }
}

/* SP */
@media screen and (max-width: 640px) {
    .simulator-nav {
        top: 190px;
    }

    .simulator-nav img {
        width: 30px;
    }

    .pc {
        display: none !important;
    }

    #giga_simulator {
        padding: 35px 0;
    }

    .giga-simulator .content {
        width: 100%;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }

    .giga-simulator .content.title-area {
        width: 95%;
    }

    .giga-simulator .month-label-box {
        display: inline-block;
        text-align: center;
        margin: 0 0.1rem 0 0;
    }

    .giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-price {
        display: block;
        padding-left: 1rem;
    }

    .giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-price span.price {
        font-size: 2rem;
        padding: 0 0.2rem;
    }

    .giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-price .price-label {
        text-align: left;
        padding-left: 0.5rem;
    }

    .giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan,
    .giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span {
        letter-spacing: 0;
        font-size: 1.5rem;
    }

    .giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.gb {
        font-size: 2rem;
        padding: 0 0 0 0;
    }

    .giga-simulator .diagnosis-area .diagnosis-recommended>div {
        width: 100%;
    }

    .giga-simulator .breakdown-item {
        font-size: 1rem;
        letter-spacing: 0;
    }

    .giga-simulator .diagnosis-area .diagnosis-recommended {
        display: block;
    }

    .giga-simulator .diagnosis-area .recommended-guideline {
        margin-top: 1rem;
        padding: 0 1rem 1rem;
    }

    .giga-simulator .diagnosis-area .recommended-guideline ul.guideline-list li {
        line-height: 1.4rem;
    }

    .giga-simulator .diagnosis-area .recommended-guideline .guideline-label {
        margin-top: 0;
    }

    .giga-simulator .diagnosis-area .diagnosis-recommended .recommended-text ul.recommended-list li {
        margin: 0;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
        font-size: 1rem;
    }

    .giga-simulator .diagnosis-area .diagnosis-recommended .recommended-text ul.recommended-list {
        margin: 0rem;
    }

    .giga-simulator .diagnosis-area .diagnosis-btns img {
        width: 300px;
    }

    .giga-simulator .diagnosis-area .diagnosis-title img {
        width: 70%;
    }

    .giga-simulator .diagnosis-area .diagnosis-item-top {
        display: block;
        padding: 0;
    }

    .giga-simulator .diagnosis-area .diagnosis-item-left {
        padding: 0;
        width: 100%;
    }

    .giga-simulator .diagnosis-area .diagnosis-recommended {
        display: flex;
        padding-left: 0;
        border-left: none;
        width: 100%;
    }

    .giga-simulator .breakdown-item .line .delete-btn {
        padding: 0.5rem;
        margin-left: 1rem;
    }

    .giga-simulator .q-box {
        box-sizing: border-box;
    }

    .giga-simulator .result-area .result-detail {
        border-bottom: none;
        justify-content: space-between;
        width: 98%;
        margin: 0 auto;
    }

    .giga-simulator .result-area .result-detail .detail-giga-sum span.gb,
    .giga-simulator .result-area .result-detail .detail-line-sum span.line {
        font-size: 2.5rem;
        padding: 0;
    }

    .giga-simulator .result-area .result-detail .detail-price-sum .price-sum-box span.price {
        font-size: 4.5rem;
        color: #E75099;
    }

    .giga-simulator .month-label-box>span {
        display: block;
        line-height: 1;
    }

    .giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.one-line {
        line-height: 4rem;
    }

    .giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.option,
    .giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.price {
        font-size: 2rem;
    }

    .giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.tax-label {
        margin-left: 0;
    }

    .giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.month-label {
        margin-left: 0;
    }

    .giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.small {
        font-size: 1rem;
    }

    .giga-simulator .breakdown-label {
        margin-top: 0;
    }

    .giga-simulator .diagnosis-breakdown {
        padding: 1rem;
    }

    .giga-simulator .diagnosis-area .diagnosis-recommended .recommended-text .inner-box {
        display: flex;
        justify-content: space-between;
        margin: 0 1rem;
    }

    .giga-simulator .diagnosis-area .diagnosis-recommended .recommended-img {
        margin: 0;
    }

    .giga-simulator .diagnosis-area .recommended-guideline ul.guideline-list li {
        display: block;
    }

    .giga-simulator .diagnosis-breakdown {
        padding: 1rem;
    }

    .giga-simulator .result-area .result-list .inner-box {
        padding: 0.5rem 0;
    }

    .giga-simulator .result-area .result-list .line-title {
        display: inline-block;
    }

    .giga-simulator .result-area .result-list .line-title>span {
        display: block;
    }

    .giga-simulator .result-area .result-detail>div+div {
        padding-left: 0;
    }

    .giga-simulator .result-area .result-detail .detail-price-sum span.price {
        font-size: 2.5rem;
        padding: 0;
    }

    .giga-simulator .result-area .result-detail span.tax-label {
        font-size: 1.2rem;
        padding: 0;
    }

    .giga-simulator .result-area .result-detail,
    .giga-simulator .result-area .result-detail span {
        font-size: 1.4rem;
    }

    .giga-simulator .result-area .result-breakdown {
        margin: 1rem;
    }

    .giga-simulator .result-area .result-detail .w-back-label {
        position: initial;
    }

    .giga-simulator .result-area {
        padding-bottom: 0.5rem;
        border: none;
    }

    .giga-simulator .diagnosis-area .multiple-lines-text {
        width: 98%;
        margin: 1rem auto 2rem auto;
        font-size: 1.6rem;
        font-weight: 400;
    }

    .giga-simulator .diagnosis-area .multiple-lines-text span,
    .giga-simulator .diagnosis-area .multiple-lines-text span.small {
        font-weight: 400;
    }

    .giga-simulator .q-area .q-title img.q-icon {
        width: 36px;
    }

    .giga-simulator .toggle-open {
        width: 90%;
    }

    .giga-simulator .toggle-open span.text {
        padding-left: 30%;
        font-size: 2.4rem;
        letter-spacing: 1rem;
    }

    .giga-simulator .result-area .result-detail-wrap {
        width: 100%;
    }

    .giga-simulator .result-area .result-detail-wrap {
        background-color: #F6F3EE;
    }

    .giga-simulator .result-area .result-breakdown .breakdown-items {
        width: 100%;
    }

    .giga-simulator .result-area .result-detail .detail-line-sum,
    .giga-simulator .result-area .result-detail .detail-giga-sum,
    .giga-simulator .result-area .result-detail .detail-price-sum {
        text-align: center;
        padding: 0 0.5rem;
    }

    .giga-simulator .result-area .result-detail .detail-line-sum {
        width: 25%;
    }

    .giga-simulator .result-area .result-detail .detail-giga-sum {
        width: 30%;
    }

    .giga-simulator .result-area .result-detail .detail-price-sum {
        width: 45%;
    }

    .giga-simulator .result-area .result-breakdown .breakdown-label {
        width: 14%;
    }

    .giga-simulator .breakdown-btn {
        margin-right: 0.5rem;
        border-radius: 8px;
        border-width: 1px;
        font-weight: 400;
        padding: 1.5rem 0.5rem;
        font-size: 1.4rem;
    }

    .giga-simulator .breakdown-btn::before {
        top: initial;
        bottom: 8px;
        left: 40%;
        border-bottom: solid 1px #B97500;
        border-left: solid 1px #B97500;
    }

    .giga-simulator .breakdown-btn.is-open::before {
        bottom: 5px;
    }

    .giga-simulator .breakdown-item .line .bd-name {
        font-size: 1.2rem;
    }

    .giga-simulator .breakdown-item .price-no-area {
        width: 12%;
    }

    .giga-simulator .breakdown-item .price-detail {
        width: 76%;
    }

    .giga-simulator .breakdown-item .delete-btn-area {
        width: 14%;
    }

    .giga-simulator .delete-btn {
        padding: 0.5rem 0.5rem 0.5rem 2.2rem;
        border-radius: 10px;
        height: 20px;
    }

    .giga-simulator .breakdown-item .line span.price {
        font-size: 1.6rem;
    }

    .giga-simulator .delete-btn:after,
    .giga-simulator .delete-btn:before {
        left: 5px;
    }

    .giga-simulator .diagnosis-area .diagnosis-title {
        display: block;
        text-align: center;
    }

    .giga-simulator .diagnosis-area .diagnosis-title .delete-btn {
        margin: 0 auto;
        margin-top: 1rem;
    }

    div.plan-no {
        margin-left: 0.5rem;
        padding: 0.2rem 0.7rem;
    }

    .giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan .plan-icon {
        padding: .5rem;
        padding-left: .5rem;
    }

    .giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan img.plan-icon {
        width: 25px;
    }

    .giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.voice-option {
        font-size: 1.4rem;
        line-height: 1.6rem;
        text-align: center;
        display: inline-block;
        margin-left: 0.5rem;
    }

    .giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.option-label {
        display: block;
        font-size: 1rem;
        margin-left: 0;
    }

    .giga-simulator .diagnosis-area .diagnosis-detail .diagnosis-plan span.option.no-limit {
        font-size: 1.2rem;
    }

    .giga-simulator .diagnosis-area .diagnosis-item {
        padding: .5rem;
    }

    .giga-simulator .diagnosis-area {
        border: none;
    }

    .giga-simulator .result-area .result-detail .detail-price-sum .price-sum {
        min-width: 65%;
    }

    .no-add-text {
        width: 90%;
    }

    .gb-add-cp img {
        width: 95%;
    }

    .giga-simulator .breakdown-item .line {
        padding: 1rem 0.5rem;
    }

    .giga-simulator .breakdown-item .line+.line {
        padding: 1rem 0.5rem;
        padding-left: 1.5rem;
    }

    .giga-simulator .q-area .q-item .q-item-text.small-text {
        font-size: 1.4rem;
    }

    .cp-obi-area .cp-obi {
        padding: 0.5rem;
        max-width: 93%;
        font-size: 3.4vw;
    }

    .use-gbadd-cp span.before-gb-prace-wrap span,
    .use-voicegbadd-cp span.before-gb-prace-wrap span,
    .monthly-discount .use-monthly-discount .before-month-prace-wrap span,
    .voicefree-cp .use-voicefree .before-month-prace-wrap span {
        font-size: 1.2rem !important;
    }

    .use-gbadd-cp span.before-gb-prace-wrap span.small,
    .use-voicegbadd-cp span.before-gb-prace-wrap span.small,
    .monthly-discount .use-monthly-discount .before-month-prace-wrap span.small,
    .voicefree-cp .use-voicefree .before-month-prace-wrap span.small {
        font-size: 1rem !important;
    }

    .use-gbadd-cp span.before-gb-prace-wrap,
    .use-voicegbadd-cp span.before-gb-prace-wrap,
    .monthly-discount .use-monthly-discount .before-month-prace-wrap,
    .voicefree-cp .use-voicefree span.before-month-prace-wrap {
        top: -36px;
    }

    .use-gbadd-cp .gb-prace-wrap::after,
    .use-voicegbadd-cp .gb-prace-wrap::after {
        top: -22px;
    }

    .use-gbadd-cp .use-gbadd-cp-line.plan-line .line-gb-prace::after,
    .use-voicegbadd-cp .use-gbadd-cp-line.plan-line .line-gb-prace::after {
        top: -11px;
    }

    .use-cp.use-monthly-discount .result-price-wrap .yen::after,
    .use-cp.use-voicefree .result-price-wrap .yen::after {
        top: -14px;
    }

    .q-anno-area {
        text-indent: -1rem;
        padding-left: -1rem;
        text-align: left;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
}